# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Datasets (DO NOT COMMIT)
# =========================
datasets/
*.csv
*.txt
*.json
*.zip

# =========================
# ML Models
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# =========================
# Logs
# =========================
*.log

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Env & OS
# =========================
.env
.env.*
venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
